*{
  margin: 0;
}

.postItContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
}
.postIt {
  background-color: tomato;
  margin: 10px;
  width: 300px;
}

.registerPostIt {
  width: 300px;
  margin: 20px auto;
  background-color: lightgreen;
}

.postItTitle,
.postItContents {
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.postItTitle label,
.postItContents label {
  font-size: 12px;
}

.postItTitle input {
  width: 200px;
}

.postItContents textarea {
  width: 200px;
  height: 50px;
}